<div class="container">
  <h1>Recently Asked Questions:</h1>
  <div class="all-questions">
  <% @questions.each do |question| %>
  <%= render partial: "question", locals: { question: question } %>
  <% end %> 
  </div>
  <div id="infinite-scrolling">
    <%= will_paginate %>
  </div>
</div>