<h5>Your Comment</h5>
<%= form_for [question, answer, comment] do |f| %>
  <div class="form-group">
    
    <p><%= f.text_area :content, size: "50x5" %></p>

    <p><%= f.submit %></p>
  </div>
<% end %>
