<div class="owner">
  <div class="user-info">
    <div class="user-name" style="float:right; margin:5px">
      <h4><a href="/users/<%= type.author.id %>"><%= type.author.username %></a></h4>
    </div>
    <div class="avatar" style="float:right">
      <img height="30" width="30" src="<%= type.author.avatar_url %>" />
    </div>
  </div>
</div>
