/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require_tree .
 *= require_self
 */
.answer-content {
  background: #EEE;
  padding: 5px;
  margin: 10px;
  border-top: 1px solid #333;
  overflow: auto;
}

.answer-content > .owner {
  display: block;
  float: right;
  padding-bottom: 10px;
}

.answer-content:first-child {
  border-top: 0;
}

.answer-comments .comment-content {
  background: #EEE;
  border-top: 1px solid lightgrey;
}

.question-comments .comment-content {
  background: #EEE;
  border-top: 1px solid lightgrey;
}

.navbar {
  border-radius: 0;
  height: 60px;
}

.navbar-brand {
  line-height: 30px;
}

.dropdown img {
  height: 30px;
  margin-right: 10px;
}

<<<<<<< HEAD
.dropdown a:hover img {
  border: 1px solid #000;
}

.sidebar {
z-index: 1;
position: absolute;
width: 250px;
margin-top: 51px;
}

.sidebar .sidebar-nav.navbar-collapse {
padding-right: 0;
padding-left: 0;
}

.nav {
padding-left: 0;
margin-bottom: 0;
list-style: none;
}

.nav>li>a {
position: relative;
display: block;
padding: 10px 15px;
}

table.center {
 margin-left:auto;
 margin-right:auto;
 font-size: 150%;
}

.panel-blue {
	background-color: #337ab7;
	color: white;
}

.panel-green {
	background-color: #5cb85c;
	color: white;
}

.panel-yellow {
	background-color: #FFCC00;
	color: white;
}

.panel-gray {
  background-color: #666666;
  color: white;
}

.stat {
  width: 80px;
  border-right: 1px solid #eee;
  text-align: center;
  padding: 10px;
  float: left;
}

.stats div:hover {
  background-color: #eee;
}

.date {
  line-height: 55px;
  float: right;
}

.stats-horizontal div:last-child {
  border-right: none;
}

.stats-horizontal {
  float: left;
  margin-right: 20px;
}

.question-list-item {
  overflow: auto;
  padding: 30px;
  border-bottom: 1px solid #eee;
}

.question-list-item h4 {
  line-height: 55px;
  padding: 0;
  margin: 0;
  float: left;
}

.question {
  padding: 40px 0;
}

.question-heading {
  margin-bottom: 30px;
}

.question-content {
  font-size: 18px;
  margin-bottom: 5%;
}

.question-content > .owner {
  display: block;
  float: right;
  padding-bottom: 10px;
}

.question-author {
  padding: 0;
  margin-top: 10px;
  padding-left: 30px;
  padding-top: 10px;
}

.number {
  font-size: 16px;
  display: block;
  line-height: 20px;
}
